<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <group name="itemProvider" groupName="itemProvider">
        <pipelines>
          <addFromTemplate>
            <processor mode="on" type="MasterToWeb.Feature.XA.Extensions.Pipelines.AddFromTemplate.AddFromTemplateRulesProcessor,MasterToWeb.Feature.XA.Extensions">
              <ruleFolderId>{3DD3053A-88B6-44EF-B3E5-A4B42ECB84E5}</ruleFolderId>
            </processor>
          </addFromTemplate>
        </pipelines>
      </group>
    </pipelines>
  </sitecore>
</configuration>